.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin: 45px 0 35px 0;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin: 45px 0 35px 5.9375%;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin: 28px 0 26px 8.4375%;
  }
}
