.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15.625%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 0;
  }
}
