.profile__avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  padding: 0;
  border-radius: 50%;
  background-image: url(../../../images/change-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity .3s ease;
  cursor: pointer;
}

.profile__avatar-button:hover {
  background-color: #000000CC;
  opacity: 1;
}
